<h1>Working ghost loading, infinite and horizontal scroll with frozen and resizable cols</h1>

<div class="card">

<!-- The scroll property enables basic scrolling functionality, where all rows are rendered in the DOM. On the other hand, the virtualScroll property enables virtual scrolling, rendering only the visible rows to optimize performance, especially with large datasets.  -->
<!-- [paginator]="true" [reorderableColumns]="true" -->


<!-- rows * virtualScrollItemSize = scrollHeight -->
<!-- For lazy loading data into table (ghost loading) -->
<!-- 250px -> 4 rows
500px -> 8 rows
600px -> 10 rows -->
<p-table #dt1 [columns]="cols" [value]="responseData" [globalFilterFields]="['first_name', 'email']"  [(selection)]="selectedData"
 scrollHeight="500px"
 [resizableColumns]="true"
 columnResizeMode="expand"
 [reorderableColumns]="true"
 [virtualScroll]="true"
 [virtualScrollItemSize]="50"
 [rows]="10"
 [lazy]="true"
 (onLazyLoad)="onVirtualScroll($event)"
 styleClass="p-datatable-gridlines"
 [scrollable]="true"
 >

  <ng-template pTemplate="caption">
    <div class="flex">  
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder=" Search" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
        </span>
    </div>
</ng-template>

<ng-template pTemplate="header" let-columns>
  <tr>
    <th pFrozenColumn><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
      <ng-container *ngFor="let col of columns">
          <ng-container
              *ngIf="col?.frozen; else NonFrozenColumn"
          >
              <th
                  title="{{ col.header }}"
                  pResizableColumn
                  pFrozenColumn
                  [alignFrozen]="col?.direction === 'right' ? 'right' : 'left'"
              >
                  {{ col.header }}
              </th>
          </ng-container>

          <ng-template #NonFrozenColumn>
              <th
                  title="{{ col.header }}"
                  pResizableColumn
                  pReorderableColumn
              >
                  {{ col.header }}
              </th>
          </ng-template>
      </ng-container>
  </tr>
</ng-template>

<!-- ghost loading -->
<!-- The loadingbody template is used to customize the content displayed when the table is in a loading state, such as when data is being fetched or processed. -->

<ng-template pTemplate="loadingbody">
  <tr style="height: 50px">
    <td *ngFor="let item of loopArray(10)">
      <p-skeleton></p-skeleton>
    </td>
  </tr>
</ng-template>


     <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr style="height: 50px;">
          <td pFrozenColumn><p-tableCheckbox [value]="rowData"></p-tableCheckbox></td>
            <ng-container *ngFor="let col of columns">
                <ng-container
                    *ngIf="col?.frozen; else NonFrozenColumn"
                >
                    <td
                        pFrozenColumn
                        [alignFrozen]="col?.direction === 'right' ? 'right' : 'left'"
                    >
                    {{ rowData[col.field] }}
                    </td>
                </ng-container>
      
                <ng-template #NonFrozenColumn>
                    <td
                    >
                    {{ rowData[col.field] }}
                    </td>
                </ng-template>
            </ng-container>
        </tr>
      </ng-template>

      


</p-table>
</div>