<h1>Ng Prime Table Example</h1>

<div class="card">

<!-- The scroll property enables basic scrolling functionality, where all rows are rendered in the DOM. On the other hand, the virtualScroll property enables virtual scrolling, rendering only the visible rows to optimize performance, especially with large datasets.  -->
<!-- [paginator]="true" [reorderableColumns]="true" -->


<!-- For API call on scroll -->
<!-- <p-table #dt1 [columns]="cols" [value]="responseData" [globalFilterFields]="['first_name', 'email']"  [(selection)]="selectedData" [rows]="10"
 [tableStyle]="{ 'mo-width': '500px' , 'max-height':'200px'}" [scrollable]="true" scrollHeight="1000px" [virtualScroll]="true" [virtualScrollItemSize]="10" [lazy]="true"
 styleClass="p-datatable-gridlines"> -->

<!-- For lazy loading data into table (ghost loading) -->
<p-table #dt1 [columns]="cols" [value]="responseData" [globalFilterFields]="['first_name', 'email']"  [(selection)]="selectedData" [rows]="5"
 [tableStyle]="{ 'min-width': '50rem' , 'max-height':'520rem'}" [lazy]="true" (onLazyLoad)="onVirtualScroll($event)" [scrollable]="true" scrollHeight="1000px" [virtualScroll]="true" [virtualScrollItemSize]="10"
 styleClass="p-datatable-gridlines">

  <ng-template pTemplate="caption">
    <div class="flex">  
        <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder=" Search" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" style="width:auto">
        </span>
    </div>
</ng-template>
<ng-template pTemplate="header" let-columns>
    <tr style="height:10px">
      <th><p-tableHeaderCheckbox></p-tableHeaderCheckbox></th>
        <th *ngFor="let col of columns">
            {{ col.header }}
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
  <tr style="height:10px">
    <td>
      <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
    </td>
      <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
      </td>
  </tr>
</ng-template>

<!-- ghost loading -->
<!-- The loadingbody template is used to customize the content displayed when the table is in a loading state, such as when data is being fetched or processed. -->
<ng-template pTemplate="loadingbody">
  <tr style="height:10px">
      <td *ngFor="let item of loopArray(10)">
          <p-skeleton></p-skeleton>
      </td>
  </tr>
</ng-template>
</p-table>
</div>